<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Latin Pig Generator</title>
</head>
<body>
  <div class="background"></div> <%# Special div for the blurred background %>
  <div class="mainContainer">
        <%= yield %>
  </div>
</body>
</html>